

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}
  
.my-message {
  background-color: #228b22;
  color: #fff;
}
  
.other-message {
<<<<<<< HEAD
  background-color: #696969;
=======
  background-color: #797171;
>>>>>>> d5dd1d029dfff211fa83ca318bd865dc5766629e
  color: #fff;
}
  
.time {
  color: #dfdfdf;
  float: right;
  font-size: small;
}
  
.message-input {
  margin-top: 0px;
  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  background: #fff;
  z-index: 0;
  margin-left: 12%;
}
  
.msg-btn {
  --padding-start: 0.5em;
  --padding-end: 0.5em;
  
}

.attach{
<<<<<<< HEAD
  left: 20%;
  position: relative;
  // z-index: 9999;
  bottom: 19%;
}
.camera{
  left: -134%;
  position: relative;
  // z-index: 9999;
=======
  left: -45%;
  position: relative;
  z-index: 9999;
  bottom: 19%;
}
.camera{
  left: -42%;
  position: relative;
  z-index: 9999;
>>>>>>> d5dd1d029dfff211fa83ca318bd865dc5766629e
  bottom: 11%;
}
.send{
  padding: 0;
}
.list{
  margin-bottom: -13px;
  margin-top: -13px;
}
