<ion-header>
    <ion-toolbar>
      <ion-text color="medium" text-center>
          <p>ON Users: {{userOn[0]}} | Room Users On: {{onUsersRoom[0]}}</p>
      </ion-text>
      <ion-text color="medium" text-center>
          <p><b>{{roomData.room}}</b> {{userWriting[0]}}</p>
        </ion-text>
        
    </ion-toolbar>
  </ion-header>
  <ion-text color="medium">
    <b *ngFor="let user of users[0]">
      {{user.name}}
    </b>
  </ion-text>


  <ion-content *ngIf="join != false" [scrollEvents]="true" (touchstart)="pauseScroll()">
     

  <div class="ion-padding">
      
    <div>
        <ion-grid >
          <ion-text color="medium" text-center>
            <p>You joined the chat as <b>{{ roomData.name }}</b></p>
          </ion-text>

          <div *ngFor="let message of messages" >
              
              
            <ion-row  *ngIf="message.msg !== ''" >
                
                <ion-col size="9" *ngIf="message.user !== roomData.name" class="message other-message">
                    <b>{{ message.user.name }}</b><br>
                    <span>{{ message.msg }}</span><Br>
                    <div id="source{{ message.createdAt}}"></div>
                    <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
                  </ion-col>
              
                  <ion-col offset="3" size="9" *ngIf="message.user === roomData.name" class="message my-message">
                    <b>{{ message.user }}</b><br>
                    <span>{{ message.msg }}</span><Br>
                    <div id="source{{ message.createdAt}}"></div>
                    <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
                  </ion-col>
              </ion-row>
              
            </div>
          </ion-grid>  
        </div>
    </div>
  <div>
     
      
    </div>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
        <ion-row align-items-center *ngIf="join === true">
            <ion-col size="1">
                <ion-button size="small" color="dark" fill="clear" (click)="toBase64()" class="attach">
                  <ion-icon name="attach"></ion-icon>
                </ion-button>
              </ion-col>

            <ion-col size="8">
              <ion-textarea auto-grow id="messageArea" class="message-input" (ngModelChange)="showWritingRoom()"  rows="1" [disabled]="join !== true" [(ngModel)]="message"></ion-textarea>
            </ion-col>

            

            <ion-col size="1">
              <ion-button color="dark" fill="clear"  class="msg-btn camera" (click)="takePhoto()">
                <ion-icon name="camera"></ion-icon>
              </ion-button>
            </ion-col>
           

            
           
                
           
            <ion-col size="2" class="send">
                <ion-fab-button fill="clear" color="primary" [disabled]="message === ''" class="msg-btn"
                  (click)="sendMessageRoom(message)" size="small" color="success"><ion-icon name="send"></ion-icon>
                </ion-fab-button>
            </ion-col>
              
                
          </ion-row>
    </ion-toolbar>
  </ion-footer>

  
     
