<ion-header>
  <ion-toolbar>
    <ion-title>
     Chat Devs
    </ion-title>
    
  </ion-toolbar>

  <div *ngIf="join !== true">
      <ion-list>
          <ion-item>
            <ion-input type="text" value="" [(ngModel)]="name" placeholder="user name"></ion-input>
          </ion-item>
       </ion-list>
       <ion-button color="dark" (click)="joinRoom(name)">join as {{name}}</ion-button>
  </div>
  
</ion-header>

<ion-content *ngIf="join != false">
  <ion-fab>
    <ion-button color="dark" *ngIf="join === true" (click)="exitRoom()">Exit</ion-button>
  </ion-fab>

  <div class="ion-padding">
    <div>usuarios online: {{userOn[0]}}
      <ion-grid >
        <ion-text color="medium" text-center>
          <p>You joined the chat as {{ name }}</p>
        </ion-text>
        <div *ngFor="let message of messages">
          <ion-row  *ngIf="message.msg !== ''">
              <ion-col size="9" *ngIf="message.user !== name" class="message other-message">
                  <b>{{ message.user }}</b><br>
                  <span>{{ message.msg }}</span>
                  <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
                </ion-col>
            
                <ion-col offset="3" size="9" *ngIf="message.user === name" class="message my-message">
                  <b>{{ message.user }}</b><br>
                  <span>{{ message.msg }}</span>
                  <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
                </ion-col>
            </ion-row>
          </div>
        </ion-grid>  
      </div>
  </div>
  <div>
    {{userWriting[0]}}
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-row align-items-center *ngIf="join === true">
          <ion-col size="10">
            <ion-textarea auto-grow class="message-input" (ngModelChange)="showWriting()"  rows="1" [disabled]="join !== true" [(ngModel)]="message"></ion-textarea>
          </ion-col>
          <ion-col size="2">
            <ion-button expand="block" fill="clear" color="primary" [disabled]="message === ''" class="msg-btn"
              (click)="sendMessage(message)">
              <ion-icon name="ios-send" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
  </ion-toolbar>
</ion-footer>